body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111; /* Very dark gray background color */
    color: #ccc; /* Light gray text color */
    padding: 20px;
    margin-top: 0; /* Set to 0 to remove top margin */
    padding-top: 0; /* Set to 0 to remove top padding */
}

.information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -10px;
}

.column {
    flex: 1;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin: 0 10px; /* Add margin to create space between columns */
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff; /* White title color */
}

.subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ddd; /* Light gray subtitle color */
}

.helpers {
    margin-bottom: 40px; /* Adjust this value to reduce the space */
}

.helper button {
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333; /* Dark gray button background color */
    color: #ccc; /* Light gray button text color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.helper button:hover {
    background-color: #555; /* Slightly lighter gray on hover */
    transform: scale(1.02);
}

.timers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timer {
    margin: 10px;
}

.timer button {
    width: 150px;
    height: 150px;
    border: none;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s; 
    position: relative;
}

.timer button .external-link {
    position: absolute;
    top: 5px;
    right: 6px;
    background-color: #ccc;
    color: #333;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
}

.timer button .external-link:hover {
    background-color: #bbb;
}

.timer button img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: -5px;
    margin-left: -20px;
}

.timer button .timer-info {
    font-size: 16px;
    color: #444;
    margin: 0;
}

.timer button h1 {
    font-size: 30px;
    margin-top: -15px;
    padding-bottom: 30px;
    color: #111;
}

.timer button:hover {
    transform: scale(1.04);
    background-color: #DDD;
}

.timer button.selected {
    background-color: #AAA;
}

.timer button.selected:hover {
    transform: scale(1);
}

.contribution-button {
    display: inline-block;
    padding: 10px 10px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contribution-button:hover {
    background-color: #555;
}

